<h1>Sign Up</h1>
<%= form_for @user do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :email, "Email" %>
    <%= f.email_field :email %>

    <%= f.submit "Log In", disable_with: 'Submiting...' %>
<% end %>
